---
layout: base.njk
title: Home Page
---

Hi there, I'm Zeke Feunier, a French software developer!
You can learn more about me on my <a href="/about">about page</a> or my <a href="/posts/hello_world">introduction post</a>.

<h2>Latest post</h2>

{{ collections.posts[0].data.prettyDate }} | <a href="{{ collections.posts[0].data.page.url }}">{{ collections.posts[0].data.title }}</a>

<blockquote>
    {{ collections.posts[0].data.description }}
</blockquote>

<h2>News</h2>

{% include "news.njk" %}
