<!doctype html>
<html lang="en">
  {% include "partials/head.njk" %}
  <body>
    {% include "partials/header.njk" %}

    {% include "partials/document.njk" %}

    {% include "partials/footer.njk" %}
  </body>
</html>
