{# Here, I can type a message that will be displayed on the top of the page.
It'll be used for maintenance, announcements or other useful informations. #}

{# If nothing is written here, the banner won't be displayed. #}
