<footer>
	<div>
		(c) <a href="https://creativecommons.org/licenses/by-nc-sa/4.0">CC-BY-NC-SA-4.0</a> 2022 Zeke Feunier
	</div>
	<div>
		This website's source code and assets are available <a href="https://github.com/zekefeu/website">here</a>.
	</div>
	<div>
		Want to talk to me ? <a href="/about">Hit me up</a> !
	</div>
</footer>
