<div class="header-message">
	{% include "header-message.njk" %}
</div>

<header>
	<div class="button reset-link">
		<a href="/">home</a>
	</div>
	<div class="button reset-link">
		<a href="/blog/">blog</a>
	</div>
	<div class="button reset-link">
		<a href="/about/">about</a>
	</div>
</header>
